
<style>
    .flash-messages {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        width: 300px;
    }
    .alert {
        background: #e2b275; /* A te színed */
        color: black;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid black;
    }
</style>