{% extends "base.html" %}

{% block title %}Főoldal{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light rounded mt-2 mx-2 border"
         style="background: linear-gradient(90deg, rgba(226, 178, 117, 0.1) 0%, rgba(226, 178, 117, 0.7) 50%, rgba(226, 178, 117, 0.1) 100%);
                backdrop-filter: blur(10px);
                border-color: rgba(226, 178, 117, 0.4) !important;
                position: relative;
                z-index: 1000;">
        <div class="container-fluid position-relative">
            <a class="navbar-brand" style="font-weight:bold; color:#e0e0e0;" href="/main">
                <img src="{{ url_for('static', filename='img/magyar_cimer.png') }}" height="30" class="d-inline-block align-top ms-2" alt="">
                Főmenü
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav position-absolute start-50 translate-middle-x d-flex flex-nowrap">
                    <li class="nav-item">
                        <a id="persec_kereses"
                           class="nav-link"
                           style="font-weight: bold; color: #e2b275 !important;"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#mdl_Search"
                           data-bs-placement="bottom"
                           data-bs-html="true"
                           title="SzBT-k és TtNy-ek">
                            <i class="bi bi-search me-1"></i> Keresés
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight: bold; color: #000000;" href="#" id="persec_szures" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-placement="bottom" data-bs-html="true" data-bs-auto-close="true"><i class="bi bi-filter"></i> Szűrés</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="z-index: 1000;">
                            <a id="search_org" class="dropdown-item" href="#">Szervezeti elemre</a>
                            <a id="search_clearence" class="dropdown-item" href="#">Lejáró személyi biztonsági tanúsítványokra (nemzeti)</a>
                            <a id="search_number" class="dropdown-item" href="#">Keresés rekordazonosítóra</a>
                            <a id="search_complex" class="dropdown-item disabled" href="#" disabled>Összetett szűkítés</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a id="persec_ujkollega" class="nav-link" style="font-weight: bold; color: #000000;" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="SzBT-k és TtNy-ek"><i class="bi bi-person-plus-fill"></i> Új személy rögzítése</a>
                    </li>
                    <li class="nav-item">
                        <a id="persec_archivum" class="nav-link" style="font-weight: bold; color: #000000;" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="SzBT-k és TtNy-ek"><i class="bi bi-archive"></i> Archívum</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto d-flex flex-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: bold; color: #BC0D0D;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" href="/logout">
                            <i class="fas fa-power-off"></i> Kijelentkezés
                        </a>
                    </li>
                    <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasAdminMenu" role="button" style="padding: 5px 15px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#e2b275" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% include 'persec_modals.html' %}

{% endblock %}